<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Library CDN Example</title>
  <!-- <link href="https://cdn.jsdelivr.net/gh/ivanpriyambudi/lib-cookies@refs/heads/main/v2/style.css" rel="stylesheet"> -->
  <link href="../v2/style.css" rel="stylesheet">
</head>
<body>

  <h1>Testing My Library from CDN</h1>
  <div id="greeting"></div>

  <!-- Load the library from jsDelivr CDN -->
  <!-- <script src="https://cdn.jsdelivr.net/gh/ivanpriyambudi/lib-cookies@refs/heads/main/v2/index.js"></script> -->
  <script src="../v2/index.js"></script>

  <script>
    const lib = new CookiesLib();
    lib.start({
        elementId: "greeting",
        appLogo: "https://bitlion.io/assets/images/logo3.png"
    });
  </script>

</body>
</html>
